body {
  background-color: #757575;
}

h1.title {
  border: darkgray;
  padding: 100px;
  line-height: 90px;
  font-size: 60px;
  font-family: "Copse", serif;
  color: #000000;
  letter-spacing: 1.5px;
}

.form-control {
  border-radius: 0.7rem;
  background-color: lightgray;
  background-image: url("images/searchicon.png");
}

.date {
  font-family: monospace;
}

.forecast {
  font-family: "Copse", serif;
  color: #f7b62d;
  font-size: 30px;
}

.forecast .description {
  color: #0f0f0f;
  font-style: italic;
  font-size: 28px;
  text-transform: capitalize;
}

.top {
  position: relative;
}

.sun {
  font-size: 150px;
  text-align: right;
  color: #f7b62d;
  position: relative;
  top: 50px;
  right: 30px;
}

.current .weather {
  display: block;
  width: 300px;
  position: relative;
  top: -50px;
}
.top .current {
  font-family: "Copse", serif;
  font-size: 30px;
}

.location {
  margin: 0 0 25px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.time {
  text-align: center;
  font-size: 25px;
  line-height: 90px;
  position: relative;
  top: 30px;
  color: rgb(255, 255, 255);
}

.symbol {
  font-size: 35px;
}

.symbola {
  display: block;
  width: 130px;
  position: relative;
  right: -35px;
}

.symbol:hover {
  transform: scale(1.2);
}

.date {
  font-size: 40px;
  font-family: "Copse", serif;
  color: rgb(0, 0, 0);
  line-height: 1;
}

.am {
  text-align: center;
}

.pm {
  text-align: center;
}

.data {
  font-size: 30px;
  line-height: 15px;
  position: relative;
  top: 50px;
  font-family: monospace;
}
.day1 .forecast {
  color: #2ea7e0;
}
